/* Should clean up document reading order to match document*/
* { /* Set for the whole document*/
  box-sizing: border-box; /* change default setting content-box*/
  font-family: Helvetica;
  margin: 0; /*ignor default margins set by browser*/
  padding: 0;/*ignor default margins set by browser*/
}

h1 {
  color: black;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.row{
  margin: 10px; /*Set to match outer margins to the margin in between boxes */
}

.menu-item{/* Needed to control #chicken-#beef-#sushi boxes */
  position: relative; /*set as anchor poiont for => position: absolute;*/
  border: 3px solid black;
  border-radius: 5px;
  background-color: grey;
  margin: 10px;
}

#chicken{
  text-align: center; /*center doesn't place it in the center of top-bottom*/
  padding: 2px; /*place text manually in the center of top-bottom as box is larger than text*/
  color: black;
  font-size: 24px;
  font-weight: bolder;
  position: absolute;; /*allows you to set a postion from the right which others don't*/
  right: -3px; /* because of box-sizing: border-box;*/
  top: -3px; /* because of box-sizing: border-box;*/
  border: 3px solid black;
  border-radius: 5px;
  background-color: #ffcccc;
  width: 150px;
  height: 40px;

}

#beef{
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bolder;
  position: absolute;
  right: -3px;
  top: -3px;
  border: 3px solid black;
  border-radius: 5px;
  background-color: #A52A2A;
  width: 150px;
  height: 40px;
  padding: 2px;

}

#sushi{
  text-align: center;
  color: black;
  font-size: 24px;
  font-weight: bolder;
  position: absolute;
  right: -3px;
  top: -3px;
  border: 3px solid black;
  border-radius: 5px;
  background-color: #ffe6cc;
  width: 150px;
  height: 40px;
  padding: 2px;

}

#placeholder{ /* Needed as position: absolute; places the box outside document flow*/
  height: 40px; /* same height but full width as the #chicken-#beef-#sushi boxes*/
}

#des-food {
  padding: 10px;
  font-weight: bold;
}

@media (min-width: 992px) {.col-lg-4
  {
    float: left;
  }
  .col-lg-4 {
    width: 33.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {.col-md-6, .col-md-12
  {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media (max-width: 767px){.col-sm-12
  {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
}
